<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

</head>
<body>
    {% include 'navbar.html' %}
    <h2>Login</h2>

    {% if user %}
            <h2>User Profile</h2>
            <p><label>Name:</label> {{ user.get("name") }}</p>
            <p><label>Email:</label> {{ user.get("email") }}</p>
            <p><label>Skill Level:</label> {{ user.get("skill_lvl") or "N/A" }}</p>
            <p><label>Experience:</label> {{ user.get("sports_exp") or "N/A" }}</p>
        </div>
    {% elif error %}
        <p class="error">{{ error }}</p>
    {% else %}
        <p>No user data available.</p>
    {% endif %}
</body>
</html>
