<h2>Reset Your Password</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.password.label }} {{ form.password(class="form-control") }}
    {% for err in form.password.errors %}
        <div class="error">{{ err }}</div>
    {% endfor %}
    {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
    {% for err in form.confirm_password.errors %}
        <div class="error">{{ err }}</div>
    {% endfor %}
    {{ form.submit(class="btn btn-primary") }}
</form>
